.challen{
    display: flex;
    padding: 20px;
    gap: 50px;
    flex-direction: column;

    .challenimg{
        height: 300px;
        object-fit: cover;
        border: none;
        border-radius: 5px;
        filter: blur(8px);
        -webkit-filter: blur(1.5px);
        position: relative;
    }
    .abouts{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        // top:calc( 0% - 100px);
        top: -150px;
        // background-color: red;
        height: 200px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .dayvalue{
            display: flex;
            // border: 1px solid gray;
            width: 97%;
            overflow: hidden;
            gap: 20px;
            padding: 5px;
            padding-left: 20px;
            border-radius: 5px;
            // align-items: center;
            justify-content: space-between;
        h3{
            // flex: 1;
            color:  white;
            width: 100px;
            height: 30px;
            background-color: orangered;
            border: none;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .challenge{
            width: 92%;
            border: 1px solid gray;
            height: 50px;
            resize: none;
            outline: none;
            padding: 10px;
            border-radius: 5px;
            background: none;
        }
        .add{
            display: flex;
            width: 100px;
            height: 30px;
            align-items: center;
            justify-content: center;
            background-color: darkturquoise;
            border-radius: 5px;
            border: none;
            color: white;
            font-weight: bold;
            padding:20px;
            cursor: pointer;
        }
    }
    
    .tasks{
        display: flex;
        flex-direction: column;
        width: 97%;
        margin-left: 20px;
        margin-bottom: 10px;
        // gap: 10px;
        border: none;
        border-radius: 10px;
        box-shadow:  -11px 11px 22px #efeded,
        11px -11px 22px #efeded;
        overflow: hidden;

        .task{
            
            display: flex;
            padding: 20px;
            // justify-content: center;
            // align-items: center;
            // flex-direction: column;
            gap: 20px;
            h3{
                flex: 1;
                color:  white;
                width: 100px;
                height: 30px;
                background-color: orangered;
                border: none;
                border-radius: 5px;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p{
                flex: 9;
                color: #86ABCF;
            }
            .edit{
                width: 15px;
                height: 15px;
                border: none;
                cursor: pointer;    
            }
        }
    }
}