.footer{
   display: flex;
   background-color: darkgray;
    .elements{
        padding: 20px;
        ul{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            gap: 10px;
            li{
                // color: whitesmoke;
            }
            :hover{
                color: whitesmoke;
                text-decoration: underline;
            }
        }
    }
}